<div style="margin: 0px 0px 0px 0px;">
    <div class="container"
        style="background-color: rgb(219, 242, 250);height: 13vh;display: flex; justify-content: space-between;">
        <div style="display: flex; align-items: center;">
            <div style="margin: 0px 0px 0px 10px;">
                <img [src]="currentContact?.image" alt="image" style="margin: 20px 0px 11px 10px;
                border-radius: 50%;
                width: 50px;">
            </div>
            <div>
                <p style="margin: 13px 0px 0px 12px;
                margin-bottom: 0rem;
                font-weight: 500;
                font-size: 16px;">{{currentContact?.name}}</p>
                <span style="font-size: 14px;margin: 13px 0px 0px 12px;" *ngIf="!currentContact?.isGroup">Active
                    now</span>
                <span style="font-size: 14px;margin: 13px 0px 0px 12px;"
                    *ngIf="currentContact?.isGroup">{{currentContact?.participants}} Participants</span>
            </div>
        </div>
        <div class="right" style="margin-right: 10px; display: flex;">
            <div style="margin: 20px 10px 0px 12px;">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="22" fill="currentColor" class="bi bi-search"
                    viewBox="0 0 16 16">
                    <path
                        d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                </svg>
            </div>
            <div>
                <div style="margin: 20px 10px 0px 12px;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="22" fill="currentColor"
                        class="bi bi-images" viewBox="0 0 16 16">
                        <path d="M4.502 9a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3" />
                        <path
                            d="M14.002 13a2 2 0 0 1-2 2h-10a2 2 0 0 1-2-2V5A2 2 0 0 1 2 3a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2v8a2 2 0 0 1-1.998 2M14 2H4a1 1 0 0 0-1 1h9.002a2 2 0 0 1 2 2v7A1 1 0 0 0 15 11V3a1 1 0 0 0-1-1M2.002 4a1 1 0 0 0-1 1v8l2.646-2.354a.5.5 0 0 1 .63-.062l2.66 1.773 3.71-3.71a.5.5 0 0 1 .577-.094l1.777 1.947V5a1 1 0 0 0-1-1z" />
                    </svg>
                </div>
            </div>
            <div>
                <div style="margin: 20px 10px 0px 12px;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="22" fill="currentColor"
                        class="bi bi-person-plus" viewBox="0 0 16 16">
                        <path
                            d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z" />
                        <path fill-rule="evenodd"
                            d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5" />
                    </svg>
                </div>
            </div>
            <div style="margin: 13px 10px 0px 12px;">

                <div
                    style="background-color:  #32c682; border-radius: 50%; height: 8vh; width: 50px; justify-content: center;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="20" fill="currentColor"
                        class="bi bi-camera-video" viewBox="0 0 16 16" style="margin-left: 8px;margin-top: 13px;">
                        <path fill-rule="evenodd"
                            d="M0 5a2 2 0 0 1 2-2h7.5a2 2 0 0 1 1.983 1.738l3.11-1.382A1 1 0 0 1 16 4.269v7.462a1 1 0 0 1-1.406.913l-3.111-1.382A2 2 0 0 1 9.5 13H2a2 2 0 0 1-2-2zm11.5 5.175 3.5 1.556V4.269l-3.5 1.556zM2 4a1 1 0 0 0-1 1v6a1 1 0 0 0 1 1h7.5a1 1 0 0 0 1-1V5a1 1 0 0 0-1-1z" />
                    </svg>
                </div>
            </div>
            <div style="margin: 13px 10px 0px 12px;">
                <div style="background-color: #32c682; border-radius: 50%; height: 8vh; width: 50px;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="36" height="20" fill="currentColor"
                        class="bi bi-telephone" viewBox="0 0 16 16" style="margin-left: 8px;margin-top: 13px;">
                        <path
                            d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.6 17.6 0 0 0 4.168 6.608 17.6 17.6 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.68.68 0 0 0-.58-.122l-2.19.547a1.75 1.75 0 0 1-1.657-.459L5.482 8.062a1.75 1.75 0 0 1-.46-1.657l.548-2.19a.68.68 0 0 0-.122-.58zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z" />
                    </svg>
                </div>
            </div>
        </div>

    </div>
    <div style="height: 70vh; overflow-y: auto;" #myDiv>
        <div *ngFor="let message of messages" style="margin-bottom: 5px;" #messageContainer>
            <div class="container" *ngIf="message?.senderDetails?._id != userId" style="max-width: 40vw; overflow: visible; margin-left: 10px;">
                <img [src]="message.senderDetails.avtar" alt="User Avatar" style="width: 40px; height: 40px; border-radius: 50%; margin-right: 10px;">
                <div>
                    <ng-container>
                        <p style="font-size: 13px;">
                            {{message.senderDetails.firstName}} {{ message?.createdAt|  date:'shortTime'}}
                        </p>
                    </ng-container>
                    <div style="display: flex; justify-content: flex-end; margin-bottom: 7px; overflow-x: visible;">
                        <div style="max-width: 40vw;">
                          <div *ngIf="message?.senderDetails?._id != userId">
                            <div style="background-color:#e6edf0; padding: 10px; border-radius: 10px;">
                              <p style="margin: 0; font-size: 16px; word-wrap: break-word;">{{ message?.content }}</p>
                            </div>
                          </div>
                        </div>
                      </div>
                </div>
            </div>

     
            <div style="display: flex; justify-content: flex-end; margin-bottom: 7px; overflow-x: visible;">
                <div style="max-width: 40vw;">
                  <div *ngIf="message?.senderDetails?._id == userId">
                    <div style="background-color: #c2edfd; padding: 10px; border-radius: 10px;">
                      <p style="margin: 0; font-size: 16px; word-wrap: break-word;">{{ message?.content }}</p>
                    </div>
                  </div>
                </div>
              </div>
        </div>

    </div>
    <div style="height: 15vh; margin: 10px 0px 0px 10px;">
        <div class="row" style="margin: 0px 0px 0px 0px; padding-top: 15px;">
            <div class="col-8" style="margin-left: 20px;">
                <!-- <div class="input-group input-group-lg">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-lg">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="45" fill="currentColor"
                                class="bi bi-emoji-frown" viewBox="0 0 16 16">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
                                <path
                                    d="M4.285 12.433a.5.5 0 0 0 .683-.183A3.5 3.5 0 0 1 8 10.5c1.295 0 2.426.703 3.032 1.75a.5.5 0 0 0 .866-.5A4.5 4.5 0 0 0 8 9.5a4.5 4.5 0 0 0-3.898 2.25.5.5 0 0 0 .183.683M7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5m4 0c0 .828-.448 1.5-1 1.5s-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5" />
                            </svg>
                        </span>
                    </div>


                    <input type="text" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm">
                </div> -->
                <form  (ngSubmit)="sendMessage(f)" #f="ngForm">
                    <div class="form-row align-items-center">
                      <div class="col-auto">
                        <label class="sr-only" for="inlineFormInputGroup">Username</label>
                        <div class="input-group mb-2">
                          <div class="input-group-prepend">
                            <div class="input-group-text">
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="45" fill="currentColor"
                                class="bi bi-emoji-frown" viewBox="0 0 16 16">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
                                <path
                                    d="M4.285 12.433a.5.5 0 0 0 .683-.183A3.5 3.5 0 0 1 8 10.5c1.295 0 2.426.703 3.032 1.75a.5.5 0 0 0 .866-.5A4.5 4.5 0 0 0 8 9.5a4.5 4.5 0 0 0-3.898 2.25.5.5 0 0 0 .183.683M7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5m4 0c0 .828-.448 1.5-1 1.5s-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5" />
                            </svg>
                            </div>
                          </div>
                          <input type="text" class="form-control" id="name"  placeholder="Enter your message"  type="text" name="message" #msg="ngModel" [ngModel]="message" trim >
                          <!-- <textarea name="" id="" cols="60" rows="1"></textarea> -->
                          <!-- <textarea id="autoresizing">
                            Try cutting, pasting
                            or typing here
                        </textarea> -->



                        </div>
                      </div>
                      <!-- <div class="col-auto">
                        <button type="submit" class="btn btn-primary mb-2">Submit</button>
                      </div> -->
                    </div>
                  </form>
            </div>
            <div class="col-3" style="display: flex;">
                <div style="position: relative;">
                    <input id="fileInput" class="form-control" type="file" style="opacity: 0; position: absolute; top: 0; left: 0; width: 100%; height: 100%;" (change)="onChange($event)">
                    <div style="background-color: rgba(213, 213, 213, 0.886); border-radius: 50%; height: 6vh; width: 40px; margin-left: 15px; position: relative;">
                        <label for="fileInput">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="22" fill="currentColor" class="bi bi-file-earmark-diff" viewBox="0 0 16 16" style="margin-left: 4px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
                                <path d="M8 5a.5.5 0 0 1 .5.5V7H10a.5.5 0 0 1 0 1H8.5v1.5a.5.5 0 0 1-1 0V8H6a.5.5 0 0 1 0-1h1.5V5.5A.5.5 0 0 1 8 5m-2.5 6.5A.5.5 0 0 1 6 11h4a.5.5 0 0 1 0 1H6a.5.5 0 0 1-.5-.5" />
                                <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2M9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5z" />
                            </svg>
                        </label>
                    </div>
                </div>                
                <div
                    style="background-color: rgba(213, 213, 213, 0.886); border-radius: 50%; height: 6vh; width: 40px; margin-left: 15px">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="22" fill="currentColor" class="bi bi-mic"
                        viewBox="0 0 16 16" style="margin-left: 4px;">
                        <path
                            d="M3.5 6.5A.5.5 0 0 1 4 7v1a4 4 0 0 0 8 0V7a.5.5 0 0 1 1 0v1a5 5 0 0 1-4.5 4.975V15h3a.5.5 0 0 1 0 1h-7a.5.5 0 0 1 0-1h3v-2.025A5 5 0 0 1 3 8V7a.5.5 0 0 1 .5-.5" />
                        <path
                            d="M10 8a2 2 0 1 1-4 0V3a2 2 0 1 1 4 0zM8 0a3 3 0 0 0-3 3v5a3 3 0 0 0 6 0V3a3 3 0 0 0-3-3" />
                    </svg>
                </div>
                <div
                    style="background-color: rgba(213, 213, 213, 0.886); border-radius: 50%; height: 6vh; width: 40px; margin-left: 15px">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="22" fill="currentColor"
                        class="bi bi-three-dots" viewBox="0 0 16 16" style="margin-left: 4px;">
                        <path
                            d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3" />
                    </svg>
                </div>
                <div
                    style="background-color: rgba(213, 213, 213, 0.886); border-radius: 50%; height: 6vh; width: 40px; margin-left: 15px">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="22" fill="currentColor"
                        class="bi bi-three-dots" viewBox="0 0 16 16" style="margin-left: 4px;">
                        <path
                            d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3" />
                    </svg>
                </div>


<button (click)="pushNotification()">push notification</button>


            </div>
        </div>
    </div>
</div>