<div class="row">
    <ng-container *ngIf="user.id==0">
        <app-login></app-login>
    </ng-container>
    <ng-container *ngIf="user.id!=0">
        <div class="col-3">
            <app-sidebar></app-sidebar>
        </div>
        <div class="col-9">
            <app-chat></app-chat>
        </div>
    </ng-container>
  </div>
  <button class="btn btn-lg btn-outline-primary" (click)="open()">Launch demo modal</button>

  <ng-template #videocallModal let-c="close" let-d="dismiss">
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Hi there!</h4>
		<!-- <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button> -->
	</div>
  <div class="call-img-incomming-call">
    M P
</div>
<h4 style="text-align: center;
padding: 10px;">Manish Kumar</h4>

<p style="    margin-top: 0;
margin-bottom: 1rem;
text-align: center;">incoming call...</p>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Save</button>
	</div>
</ng-template>
        <!-- <div class="container" style="width: 100%;">
            <div class="sidebar">
                <app-sidebar></app-sidebar>
            </div>
            <div class="content" style="margin: 0px; padding: 0px;">
                <app-chat></app-chat>
            </div>
        </div> -->
    <router-outlet></router-outlet>

